<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a02_mvc.a03_dao.A07_CalendarDao">
	<resultMap type="calendar" id="calRst">
		<result column="start1" property="start"/>
		<result column="end1" property="end"/>
	</resultMap>
	<select id="getCalList" resultMap="calRst" >
		SELECT id, title, writer,
			to_char(start1, 'YYYY-MM-DD"T"HH24:MI:SS"+09:00"') start1, 
			to_char(end1, 'YYYY-MM-DD"T"HH24:MI:SS"+09:00"') end1,
			content, backgroundcolor, textcolor, allday, url 
		FROM calendar
	</select>
	<!-- // springweb.a02_mvc.a03_dao.A06_CalendarDao
		List<Calendar> getCalList();
	 -->
	 
	 <insert id="insertCalendar" parameterType="calendar">
	 	INSERT INTO calendar values(
			cal_seq.nextval,
			#{title},
			to_date(#{start}, 'YYYY-MM-DD"T"HH24:MI:SS"+09:00"'),
			to_date(#{end}, 'YYYY-MM-DD"T"HH24:MI:SS"+09:00"'),
			#{writer},
			#{content},
			#{backgroundColor},
			#{textColor},
			#{allDay},
			#{url}
		)
	 </insert>
</mapper>	
