<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a02_mvc.a03_dao.A03_DeptDao">
	<select id="getDeptList"
		resultType="dept"
		parameterType="dept">
	SELECT *
	FROM dept02
	WHERE dname LIKE '%'||#{ dname }||'%'
		AND loc LIKE '%'||#{ loc } ||'%'
	</select>
	
	<insert id="insertDept" parameterType="dept">
		insert into dept02 values(#{ deptno }, #{ dname }, #{ loc })
	</insert>
	
</mapper>